/*analog clock*/
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 7%;
}

.clock {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: #242423; 
    border: 2px solid #F5CB5C;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #f5cb5c;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 10px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 2.2rem;
}

.clock::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    background-color: var(--clr);
    width: 6px;
    height: var(--h);
    border-radius: 8px;
}

/*hand lengths*/
#hour {
    --h: 150px;
}

#min {
    --h: 200px;
}

#sec {
    --h: 220px;
}

/*digital clock*/
.digital-clock {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem; 
    color: #f5cb5c;
    z-index: 0; 
    padding: 10px 20px; 
    border-radius: 20px; 
    text-align: center; 
    font-family: digital-clock-font; 
}

.timezone-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 1.6rem;
    color: #e0e1dd; 
    border-radius: 50%;
}

#timezone-select {
    margin: 10px;
    padding: 10px 15px;
    font-size: 1.4rem;
    border-radius: 12px; 
    border: 1px solid #F5CB5C; 
    background-color: #242423;
    color: #CFDBD5; 
    /*appearance: none;*/
    cursor: pointer;
    position: relative; 
}

@media (max-width: 1536px) {
.container {
    margin-top: 12%;
}
.clock {
    width: 24rem;
    height: 24rem;
}

.digital-clock {
    font-size: 2.6rem;
}

.clock span {
    inset: 10px;
}

.clock span b {
    font-size: 1.8rem;
}

#hour {
    --h: 134px;
}

#min {
    --h: 140px;
}

#sec {
    --h: 178px;
}

.timezone-container {
    font-size: 1.4rem;
}

#timezone-select {
    font-size: 1.2rem;
}
}

@media (max-width: 1024px) {
.container {
    margin-top: 14%;
}
.clock {
    width: 20rem;
    height: 20rem;
}

.digital-clock {
    font-size: 2.4rem;
}

.clock span {
    inset: 10px;
}

.clock span b {
    font-size: 1.4rem;
}

#hour {
    --h: 104px;
}

#min {
    --h: 118px;
}

#sec {
    --h: 148px;
}

.timezone-container {
    font-size: 1.2rem;
}

#timezone-select {
    font-size: 1.0rem;
}
}

@media (max-width: 768px) {
.container {
    margin-top: 14%;
}
.clock {
    width: 15.6rem;
    height: 15.6rem;
}

.digital-clock {
    font-size: 18px;
}

.clock span {
    inset: 10px;
}

.clock span b {
    font-size: 14px;
}

#hour {
    --h: 74px;
}

#min {
    --h: 90px;
}

#sec {
    --h: 108px;
}

.timezone-container {
    font-size: 1.4rem;
}

#timezone-select {
    font-size: 1.2rem;
}
}

@media (max-width: 426px) {
.container {
    margin-top: 10%;
}
.clock {
    width: 14rem;
    height: 14rem;
}

.digital-clock {
    font-size: 18px;
}

.clock span {
    inset: 10px;
}

.clock span b {
    font-size: 14px;
}

#hour {
    --h: 64px;
}

#min {
    --h: 78px;
}

#sec {
    --h: 94px;
}

.timezone-container {
    font-size: 1.2rem;
}

#timezone-select {
    font-size: 1rem;
}
}

@media (max-width: 321px) {
.clock {
    width: 13.6rem;
    height: 13.6rem;
}

.timezone-container {
    font-size: 1rem;
}

#timezone-select {
    font-size: .8rem;
}
}