<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css"> 
    <link rel="stylesheet" href="/components/stopwatch/stopwatch-style.css"> 
    <link rel="icon" href="../../asset/kukoo-logo.svg"> 
    <title>Kukoo</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="navbar">
            <a href="../clock/clock.html">CLOCK</a>
            <a href="../timer/timer.html">TIMER</a>
            <a href="../stopwatch/stopwatch.html">STOPWATCH</a>
        </nav>
    </header>

    <div class="kukoo-logo">
        <img src="../../asset/kukoo-logo.svg" alt="logo" class="kukoologo">
        <h1>Kukoo</h1>
    </div>

    <div class="clock-title">
        <h1>STOPWATCH</h1>
    </div>

    <div class="time-container">
        
        <div class="time-display">00:00:00</div>
        <button id = "startBtn" class="timerBtn">Start</button>
        <button id = "pauseBtn" class="timerBtn">Pause</button>
        <button id = "resetBtn" class="timerBtn">Reset</button>
    </div>

    
    
    <script src="/components/stopwatch/stopwatch-script.js"></script>
</body>
</html>
